[Unit]
Description=Three-finger drag gestures for Linux

[Service]
Type=exec
ExecStart=/usr/bin/linux-3-finger-drag

[Install]
WantedBy=graphical-session.target
